*{
    margin:0;
    padding: 0;
}
#my{
    position: absolute;
    width: 100%;
    height: 100%;
}
.left{
    width: 150px;
    height:100%;
    float: left;
    background-color: red;
}
.right{
    width:100%;
    height: 100%;
    background-color: blue;
}
