* {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 20px auto;
    width: 200px;
}
#email-input {
    width: 100%;
}
.email-sug {
    list-style: none;
    display: none;
    width: 100%;
    border: 1px solid #a8a8a8;
}
.email-sug li {
    color: #a8a8a8;
}
